SecureAttachAdmin/ECMSecureAttachWF/Service References/SVCGateway/SVCGateway3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1555/SVCGateway.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1555/SVCGateway.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EcmSecureAttachWCF2" />
  <xs:element name="getUserCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PW" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCompaniesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttachData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SvrName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DBName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttachDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAttachDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCompanyIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getServersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDatabasesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DBName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ckServerRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ckServerRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ckServerRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="duplicateEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnStr" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tDict" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="duplicateEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="duplicateEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSessionID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSessionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSessionIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getServiceVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRepoUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRepoUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateRepoUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAttachSecureLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gSecureID" type="xs:int" />
        <xs:element minOccurs="0" name="gCompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gRepoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EPW" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAttachSecureLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateAttachSecureLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGatewayCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gSecureID" type="xs:int" />
        <xs:element minOccurs="0" name="gCompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gRepoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EPW" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGatewayCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGatewayCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEndPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEndPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEndPointsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateGatewayLoginCB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateGatewayLoginCBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateGatewayLoginCBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecureID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecureIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSecureIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gSecureID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRepoCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gSecureID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRepoCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRepoCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getConnectionResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncPW" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGatewayLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncPW" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGatewayLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateGatewayLoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecureKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecureKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSecureKeyResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateComboResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateCompanyComboSecure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncryptedPW" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateCompanyComboSecureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateCompanyComboSecureResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRepoCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRepoComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateRepoComboResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRepoSecure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncryptedPW" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateRepoSecureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateRepoSecureResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExistingConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnStr" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tDict" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExistingConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExistingConnectionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncPW" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LimitToCompany" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcmSecureAttachWCF2" minOccurs="0" name="PopulateGridResult" nillable="true" type="q3:ArrayOfDS_SecureAttach" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RetTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnStr" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tDict" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveConnectionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachToSecureLoginDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachToSecureLoginDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachToSecureLoginDBResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RC" type="xs:boolean" />
        <xs:element minOccurs="0" name="RtnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcmSecureAttachWCF2" minOccurs="0" name="composite" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EcmSecureAttachWCF2" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>